/* fuentes google */
/* font-family: 'Langar', cursive;
font-family: 'Open Sans', sans-serif; */

/*  estilos generales */

*{
    padding: 0;
    margin: 0;
    list-style:none;
    box-sizing: border-box;
}


body{
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23f74b08' fill-opacity='0.03' fill-rule='evenodd'/%3E%3C/svg%3E");
    font-size: 16px;
}

main{
    margin-top: 1.25rem;
    height: 100%;
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
    color: aliceblue;
}

/* :::::: estilos del contenedor :::::::::::::::::::::: */

.contenedor{
    /* background-color: aqua; */
    width: 95%;
    height: auto;
    max-width:93.75rem;
    margin: 0 auto;
    overflow: hidden;
}
/* :::::: Fin de estilos del contenedor :::::::::::::::::::::: */


/* estilos baner */

.baner{
    width: 100%;
    height: 25rem;
    object-fit: cover;
}
        .baner video {
        object-fit: cover;
        width:100%;
        height:100%;
        }

.baner_img img{
    /* background-color: #458f2f; */
    width: 100%;
    height: 23rem;
    object-fit: cover;
    overflow: none;
}

/* Estilos Barra de navegacion */



.navbar-brand{
    font-family: 'Langar', cursive;
    font-size: 2rem;
    color:rgb(248, 250, 148);
    padding-right: 6.25rem;
}
    .navbar-brand:hover{
        color: rgb(248, 250, 148);
        }

.nav-link{
    color: #FFFF;
    margin-right: 10px;
 }

    .nav-link:hover{
    color: #f5e172;
    }


/* estilos menu hamburgesa */

.navbar-toggler{
    color:rgb(247, 157, 23);
 }



/* ESTILOS FOOTER */

.g-col-, .g-col-sm-, .g-col-md-4, .g-col-lg-4{
    padding: 10px;
    font-family: 'Open Sans', sans-serif; 
}

    h1, h2, h3{
        font-size: 1.25rem;
        color: #e0f55a;
        font-family: 'Open Sans', sans-serif; 
        }

    .foot_colum-2{
        margin-bottom: 0.31rem;
    }

    .links img{
        margin-left: 0.62rem;
    }

/*::::::::::::: Comienza estilos de paginas ::::::::::::::::::::::::: */

/* estilos index */

.video_index{
    display: grid;
    margin-bottom: 30px;
    justify-content: center;
    grid-template-columns: 80%;
    width: 85%;
    height: 25rem;
}

.video_index video{
    width:100%;
    height: 25rem;
}

/* Fin de estilos index */



/* Comienzo de estilos Porfolio */

/* modificar carousel */
#carouselExampleIndicators{
    width: 80%;
    height: auto;
    margin: 0 auto;
}
.carousel-item img{
    height: 25rem;
    object-fit: cover;
}

/* modificar grid bootstraps anime y realismo  */

.sec_porf{
    padding: 20px;
}
/* fin grid bootstraps anime y realismo  */

h3{
    font-size: 1.25rem;
    color: #FFFF;
}

.realismo img{
width: 300px;
height: 300px;
}

.anime img{
    width: 300px;
    height: 300px;
}

/* Fin  de estilos Porfolio */


/* ESTILOS CONTACTO.HTML */

.formulario{
    width: 100%;
    height: 37rem;
    display: block;

    }

        .seccion-form{
        width: 100%;
        height: 37rem;
        display: flex;
        align-items: center;
        justify-content: center;
        }

            .seccion-form form{
            width: 500px;
            margin-bottom: 100px;
            flex-direction: column;
            display: flex;
            align-items: center;
            justify-content: center;
            }

                .seccion-form form input{

                    width: 100%;
                    margin: 5px;
                    padding: 5px;
                    font-size: 1rem;
                    border: none;
                    outline: #f8f5f4 solid .3px;
                    border-radius: 3px;
                    }

                .seccion-form form textarea{
                    resize: none;
                    height: 200px;
                    width: 100%;
                    margin: 5px;
                    padding: 5px;
                    font-size: 1rem;
                    border: none;
                    outline: #f8f5f4 solid 0.3px;
                    border-radius: 3px;
                }

                .seccion-form form .btn-container{
                    width: 100%;
                    display: flex;
                }

                .btn-cancel{
                background-color: #f18e6d;
                    color: #f3f7f6;
                }

                .btn-success{
                    background-color: #458f2f;
                    color: #f3f7f6;
                }

/* ESTILOS PREGUNTAS */

.preguntas{
    margin-top: 30px;
    margin-bottom: 30px;
}

.preguntas video{
    width: 500px;
    height: 300PX;
}

/* estilos anime */

.b_galery{
    background-color: #f7f7f7;
}

#Galeria{
    background-color: #f7f7f7;
}

#Galeria h1{
    color: #f50d0d;
    font-family: 'Langar', cursive;
    font-size: 36px;
}

#Galeria img{
    width: 100%;
    height: 300PX;
    padding: 15px;
}

#Galeria .g-col-lg-4{
    margin: 0 !important;
    
}

#Galeria img:hover{
    border: 1px solid #f7f7f7;
    
}

.modal{
    width: 85%;
    height: 100%;
}







/* .row_anime{
    background-color: #f8f5f4;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

.column {
    flex: 25%;
    padding: 5px;

}

.column img{
    width: 100%;
    margin-top: 5px;

} */


        /* :::::::::::::::::: ESTILOS RESPONSIVE QUERIES::::::::::::::::::::::::::::::::::: */

@media (max-width: 450px){

    .contenedor{
        width: 100%;
    }

    .navbar-toggler{
        padding: 0;
    }

    .navbar{
        font-size: 12px;
    }

    .navbar-brand{
        font-size: 23px;
        margin-left: 25%;

    }

    .baner,.baner_img, .baner_img img{
        width: 100%;
        height: 10rem;
    }

    .baner video {
        object-fit: cover;
        width:100%;
        height: 10rem;
    }


    .video_index,.video_index video{
        width: 100%;
        height: 12rem;

    }


    p{
        font-size: 0.75rem;
    }


    h3{
        font-size: 1rem;
        color: #f2f3ed;
        }

    .g-col-12 h2, h1 {
        color: #e0f55a;
        font-size: 0.9375rem;
    }

    .g-col-12 video{
        margin-left: 30px;
    }

    .foot_colum-2{
        font-size: 0.75rem;
        padding: 3px;

    }

    .btn{
        height: 30px;

    }

    #carouselExampleIndicators{
        width: 95%;
        height: 200px;
        }

        .carousel-item img {
            height: 200px;

        }

    .realismo img{
        height: 200px;
    }
    .anime img {
        height: 200px;
    }

    .preguntas{
        margin-top: 10px;
        margin-bottom: 0;
    }

    .g-col-12 video{
        width: 300px;
        height: 200px;
    }

    .g-col-12{
        padding: 2;
    }

    .row_anime{
        flex-wrap:nowrap;
        flex-direction: column;
    }
    
    .column{
        
        flex: 100%;
      
    }
    
    #Galeria h1{
        font-size: 24px;
    }

    .modal{
        width: 90%;
        height: 95%;
    }
}

@media (max-width: 670px){
    
    .modal{
        width: 100%;
        height: 90%;
    }


    .modal img{
        width: 100%;
        height: auto
      
    }

}
