@media (max-width: 450px){

    body .contenedor{
        width: 100%;

        .navbar{
            font-size: 12px;

            .navbar-toggler{
                padding: 0;
            }
        }
    
   .navbar-brand{
        font-size: 23px;
        margin-left: 25%;

    }

    .baner,.baner_img, .baner_img img{
        width: 100%;
        height: 10rem;
    }

    .baner video {
        object-fit: cover;
        width:100%;
        height: 10rem;
    }


    .video_index,.video_index video{
        width: 100%;
        height: 12rem;

    }


    p{
        font-size: 0.75rem;
    }


    h3{
        font-size: 1rem;
        color: #f2f3ed;
        }

    h2, h1 {
            color: #e0f55a;
            font-size: 0.9375rem;
        }
    
    .g-col-12{
        padding: 2;

        video{
        margin-left: 30px;
        width: 300px;
        height: 200px;
    }

}

    .foot_colum-2{
        font-size: 0.75rem;
        padding: 3px;

    }

    .btn{
        height: 30px;

    }

    #carouselExampleIndicators{
        width: 95%;
        height: 200px;
        margin: 0;
        
        .carousel-item img {
            width: 100%;
            height: 200px;

        }
    }

    .realismo img, .anime img{
       width: 23rem;
        height: 12rem;
    }

    .preguntas{
        margin-top: 10px;
        margin-bottom: 0;
    }


    .row_anime{
        flex-wrap:nowrap;
        flex-direction: column;
    }
    
    .column{
        
        flex: 100%;
      
    }
    
    #Galeria h1{
        font-size: 24px;
    }

    .modal{
        width: 90%;
        height: 95%;
    }
}
}

@media (max-width: 375px){

body .contenedor{
   
    
    section{
        
    .anime img, .realismo img{
        width: 100%;
    }
   } 
   .ecopy{
    height: 3rem;
} 
 }

}
