*{
    padding: 0;
    margin: 0;
    list-style:none;
    box-sizing: border-box;
}

body{
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23f74b08' fill-opacity='0.04' fill-rule='evenodd'/%3E%3C/svg%3E");
    font-size: 16px;

    .contenedor{
        /* background-color: aqua; */
        width: 95%;
        height: auto;
        max-width:93.75rem;
        margin: 0 auto;
        overflow: hidden;

        .navbar-brand{
            font-family: 'Langar', cursive;
            font-size: 2rem;
            color:rgb(248, 250, 148);
            padding-right: 6.25rem;      
        }
        .nav-link{
            color: #FFFF;
            margin-right: 10px;

            &:hover{
                color: #f5e172;
                }
         }
         .navbar-toggler{
            color:rgb(247, 157, 23);
         }
        
         .baner{
            width: 100%;
            height: 25rem;
            object-fit: cover;

            video {
                object-fit: cover;
                width:100%;
                height:100%;
                }
                 
        }

        main{
            margin-top: 1.25rem;
            height: 100%;
            display: flex;
            justify-content: center;

            .video_index{
                display: grid;
                margin-bottom: 30px;
                justify-content: center;
                grid-template-columns: 80%;
                width: 85%;
                height: 25rem;

                video{
                    width:100%;
                    height: 25rem;
                }
            }
        }
      

        .baner_img img{
             /*estilos porfolio*/
            /* background-color: #458f2f; */
            width: 100%;
            height: 23rem;
            object-fit: cover;
            overflow: none;
        }

        #carouselExampleIndicators{
            width: 80%;
            height: auto;
            margin: 0 auto;

            .carousel-item img{
                height: 25rem;
                object-fit: cover;
            }
        }

               
            h3{
                font-size: 1.25rem;
                color: #FFFF;
            }
            

           .realismo, .anime{

            img{
                object-fit: cover;
                width: 400px;
                height: 400px;
            }

           }      
            
           //estilos h1 art&pinturas
           main {
           .h_art{
            color:#f3f7f6;
            font-size: 20px;
            padding: 10px;
                    
           }
           .img-thumbnail{
            margin: 15px 15px;
            object-fit: cover;
            width: 300px;
            height: 300px;

        }
    }

            .preguntas{
            margin-top: 30px;
            margin-bottom: 30px;

            h3{
                font-size: 1.25rem;
                color: #FFFF;
            }

            video{
                width: 500px;
                height: 300PX;
            }
        }

        .formulario{
            width: 100%;
            height: 37rem;
            display: block;

            .seccion-form{
                width: 100%;
                height: 37rem;
                display: flex;
                align-items: center;
                justify-content: center;

                form{
                    width: 500px;
                    margin-bottom: 100px;
                    flex-direction: column;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    input{

                        width: 100%;
                        margin: 5px;
                        padding: 5px;
                        font-size: 1rem;
                        border: none;
                        outline: #f8f5f4 solid .3px;
                        border-radius: 3px;
                        }

                        textarea{
                            resize: none;
                            height: 200px;
                            width: 100%;
                            margin: 5px;
                            padding: 5px;
                            font-size: 1rem;
                            border: none;
                            outline: #f8f5f4 solid 0.3px;
                            border-radius: 3px;
                        }

                        .btn-container{
                            width: 100%;
                            display: flex;

                            .btn-cancel{
                                background-color: #f18e6d;
                                color: #f3f7f6;
                                }
                            .btn-success{
                                background-color: #458f2f;
                                color: #f3f7f6;
                                }
                        }
                    }
                }
        
            }
    }


    footer .g-col-, .g-col-sm-, .g-col-md-4, .g-col-lg-4{
        padding: 10px;
        font-family: 'Open Sans', sans-serif; 

        .p_map{
            margin-right: 15px;
        }
        
        p{
            color: #f3f7f6;
            font-family: 'Open Sans', sans-serif; 
            font-size: 14px;
            text-align: start;
            text-align: center;
        }
        h2{
            margin-top: 5px;
        }

        h2, h3{
            font-size: 1.1rem;
            color: #e0f55a;
            font-family: 'Open Sans', sans-serif; 
            }    
    }

    .ecopy{
        height: 2.18rem;
    }

    .links a {
        margin-right: 10px;
      }
}



.b_galery{
    background-color: #f3f7f6;
    
    h1{
        color:#e01414;
        font-family: 'Langar', cursive;
    }

    .img-thumbnail{
        width: 300px;
        height: 300px;

    }

    .modal-content{
        background-color: transparent;
    }
}



@import "queries"
